<div class="container">	
	
	<div class="row mg-bot-10">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<header class="section-header">
				<nav>
					<ul class="nav nav-tabs">
					  
						  <li ui-sref-active="active">
						  <a ui-sref="app.movies.index">
						  	Popular
						  	</a>
						  </li>
					  
					  <li ui-sref-active="active">
					  <a ui-sref="app.movies.list">
						  
						  	All movies
						  
					  </a>
					  </li>
					</ul>
				</nav>
			</header>
		</div>
	</div>

	<!--<hr class="sm"/>-->

	<div class="row">
		<div ui-view="sectionContentView">

		</div>	
	</div>

</div>		