<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="well">
        
      <ul class="nav nav-tabs">
        <li ui-sref-active="active">
          <a ui-sref="app.movies.index">List of movies</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.movies.create">Create movie</a>
        </li>
      </ul>

      </div>
    </div>    
  </div>  

  <div class="row" ui-view="sectionView">
    
  </div>

</div>