<div class="movie-container pull-left">
	<article class="movie">			

		<div class="movie-image image-wrapper pull-left">
			<img src="{{ image }}">
		</div>			

		<div class="movie-body pull-left">				
			<header class="movie-header">
				<h2 class="movie-name">{{ name }} [{{ year }}]</h2>
				<p class="movie-metadata">{{ runtime }} mins - Genre: {{ genre }}</p>
			</header>
			<p>{{ description }}</p>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">	
				<button data-object-id="{{ id }}" class="btn btn-info edit">Edit</button>
				<button data-object-id="{{ id }}" class="btn btn-danger delete">Delete</button>
			</div>
		</div>

		<div class="clearfix"></div>
	</article>		
</div>