[class$="r"] {
	background-color: magenta;
}

[class*="a"]:not([class$="r"]) {
	background-color: blue;
}

.text-center {
	text-align: center;
}

/**************************************************************
 * Fonts
 **************************************************************/
html {
	font-family: 'Open Sans', sans-serif !important;
}

.header {
	font-size: 46px;
}

.footer,
.sidebar {
	font-size: 10px;
}

.content {
	font-size: 14px;
}

.navigation {
	font-size: 12px;
}