<header class="header">
  <div class="container">
    <div class="row">
      
      <nav class="nav-bar">
        <a class="nav-bar-brand" href="#">Bootcamp app</a>

        <ul class="nav-bar navigation-list">
          <li ui-sref-active="active" class="navigation-list-item">
            <a ui-sref="app.home.timeline"><i class="fa fa-home navigation-item-icon"></i>Home</a>
          </li>
          <li ui-sref-active="active" class="navigation-list-item">
            <a ui-sref="app.trends"><i class="fa fa-fire navigation-item-icon"></i>Trends</a>
          </li>
          <li ui-sref-active="active" class="navigation-list-item">
            <a ui-sref="app.profile.timeline"><i class="fa fa-user navigation-item-icon"></i>Profile</a>
          </li>
        </ul>
      </nav>


    </div>
  </div>
</header>
<div ui-view="contentView">
  

</div>