<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <header class="text-center">
        <h2>Welcome to Bootcamp app!</h2>
        <h4>Please login with twitter to contine</h4>
      </header>
      <section>
        <div class="form-group">
          <button class="btn btn-lg btn-info btn-block" ng-click="login.login();">
            Sign in with Twitter
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

