* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
          box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
  background-color: #171a1c;
}

.header {
  background-color: #2C2C2C;
  color: #DDDDDD;
  box-shadow: 0 3px   6px   rgba(0,0,0,0.16), 0 3px   6px   rgba(0,0,0,0.23);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  min-height: 50px;
}

.sidebar {

}

.image-wrapper {
  width: 100%;  
}

.image-wrapper > img {
  width: 100%;
}

.content-container {
  height: 100%;
  padding-top: 100px;
}

.content {
  height: 100%;
  overflow-y: scroll;
}

.container {
  width: 100%;
  padding: 0px;
}

.row {
  margin: 0 0;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 0;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    padding: 0 15px;
  }

  .content {
    height: 100%;
    overflow-y: scroll;
  }

  .content-container {
    height: 100%;
    padding-top: 50px;
  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}