* {
  font-family: 'Exo 2', sans-serif;
}

body { 
  line-height: 1.4;
  color: #EEEEEE;
}

.pointer {
  cursor: pointer;
}

.mg-bot-10 {
  margin-bottom: 10px;
}

.mg-right-2 { margin-right: 2px; }
.mg-right-5 { margin-right: 5px; }

.pd-bot-xs-5 {    padding-bottom: 5px; }
.pd-top-xs-5 {    padding-top: 5px; }
.pd-left-xs-5 {   padding-left: 5px; }
.pd-right-xs-5 {  padding-right: 5px; }
.pd-ver-xs-5 {    padding-top: 5px;   padding-bottom: 5px; }
.pd-hor-xs-5 {    padding-left: 5px;  padding-right: 5px; }
.pd-xs-5 {        padding: 5px; }

.pd-bot-xs-10 {    padding-bottom: 10px; }
.pd-top-xs-10 {    padding-top: 10px; }
.pd-left-xs-10 {   padding-left: 10px; }
.pd-right-xs-10 {  padding-right: 10px; }
.pd-ver-xs-10 {    padding-top: 10px;   padding-bottom: 10px; }
.pd-hor-xs-10 {    padding-left: 10px;  padding-right: 10px; }
.pd-xs-10 {        padding: 10px; }

.pd-bot-xs-15 {    padding-bottom: 15px; }
.pd-top-xs-15 {    padding-top: 15px; }
.pd-left-xs-15 {   padding-left: 15px; }
.pd-right-xs-15 {  padding-right: 15px; }
.pd-ver-xs-15 {    padding-top: 15px;   padding-bottom: 15px; }
.pd-hor-xs-15 {    padding-left: 15px;  padding-right: 15px; }
.pd-xs-15 {        padding: 15px; }

.pd-bot-xs-20 {    padding-bottom: 20px; }
.pd-top-xs-20 {    padding-top: 20px; }
.pd-left-xs-20 {   padding-left: 20px; }
.pd-right-xs-20 {  padding-right: 20px; }
.pd-ver-xs-20 {    padding-top: 20px;   padding-bottom: 20px; }
.pd-hor-xs-20 {    padding-left: 20px;  padding-right: 20px; }
.pd-xs-20 {        padding: 20; }


@media (min-width: 768px) {

  .pd-bot-sm-5 {    padding-bottom: 5px; }
  .pd-top-sm-5 {    padding-top: 5px; }
  .pd-left-sm-5 {   padding-left: 5px; }
  .pd-right-sm-5 {  padding-right: 5px; }
  .pd-ver-sm-5 {    padding-top: 5px;   padding-bottom: 5px; }
  .pd-hor-sm-5 {    padding-left: 5px;  padding-right: 5px; }
  .pd-sm-5 {        padding: 5px; }

  .pd-bot-sm-10 {    padding-bottom: 10px; }
  .pd-top-sm-10 {    padding-top: 10px; }
  .pd-left-sm-10 {   padding-left: 10px; }
  .pd-right-sm-10 {  padding-right: 10px; }
  .pd-ver-sm-10 {    padding-top: 10px;   padding-bottom: 10px; }
  .pd-hor-sm-10 {    padding-left: 10px;  padding-right: 10px; }
  .pd-sm-10 {        padding: 10px; }

  .pd-bot-sm-15 {    padding-bottom: 15px; }
  .pd-top-sm-15 {    padding-top: 15px; }
  .pd-left-sm-15 {   padding-left: 15px; }
  .pd-right-sm-15 {  padding-right: 15px; }
  .pd-ver-sm-15 {    padding-top: 15px;   padding-bottom: 15px; }
  .pd-hor-sm-15 {    padding-left: 15px;  padding-right: 15px; }
  .pd-sm-15 {        padding: 15px; }

  .pd-bot-sm-20 {    padding-bottom: 20px; }
  .pd-top-sm-20 {    padding-top: 20px; }
  .pd-left-sm-20 {   padding-left: 20px; }
  .pd-right-sm-20 {  padding-right: 20px; }
  .pd-ver-sm-20 {    padding-top: 20px;   padding-bottom: 20px; }
  .pd-hor-sm-20 {    padding-left: 20px;  padding-right: 20px; }
  .pd-sm-20 {        padding: 20; }

}


@media (min-width: 992px) {

  .pd-bot-md-5 {    padding-bottom: 5px; }
  .pd-top-md-5 {    padding-top: 5px; }
  .pd-left-md-5 {   padding-left: 5px; }
  .pd-right-md-5 {  padding-right: 5px; }
  .pd-ver-md-5 {    padding-top: 5px;   padding-bottom: 5px; }
  .pd-hor-md-5 {    padding-left: 5px;  padding-right: 5px; }
  .pd-md-5 {        padding: 5px; }

  .pd-bot-md-10 {    padding-bottom: 10px; }
  .pd-top-md-10 {    padding-top: 10px; }
  .pd-left-md-10 {   padding-left: 10px; }
  .pd-right-md-10 {  padding-right: 10px; }
  .pd-ver-md-10 {    padding-top: 10px;   padding-bottom: 10px; }
  .pd-hor-md-10 {    padding-left: 10px;  padding-right: 10px; }
  .pd-md-10 {        padding: 10px; }

  .pd-bot-md-15 {    padding-bottom: 15px; }
  .pd-top-md-15 {    padding-top: 15px; }
  .pd-left-md-15 {   padding-left: 15px; }
  .pd-right-md-15 {  padding-right: 15px; }
  .pd-ver-md-15 {    padding-top: 15px;   padding-bottom: 15px; }
  .pd-hor-md-15 {    padding-left: 15px;  padding-right: 15px; }
  .pd-md-15 {        padding: 15px; }

  .pd-bot-md-20 {    padding-bottom: 20px; }
  .pd-top-md-20 {    padding-top: 20px; }
  .pd-left-md-20 {   padding-left: 20px; }
  .pd-right-md-20 {  padding-right: 20px; }
  .pd-ver-md-20 {    padding-top: 20px;   padding-bottom: 20px; }
  .pd-hor-md-20 {    padding-left: 20px;  padding-right: 20px; }
  .pd-md-20 {        padding: 20; }

}

@media (min-width: 1200px) {

  .pd-bot-lg-5 {    padding-bottom: 5px; }
  .pd-top-lg-5 {    padding-top: 5px; }
  .pd-left-lg-5 {   padding-left: 5px; }
  .pd-right-lg-5 {  padding-right: 5px; }
  .pd-ver-lg-5 {    padding-top: 5px;   padding-bottom: 5px; }
  .pd-hor-lg-5 {    padding-left: 5px;  padding-right: 5px; }
  .pd-lg-5 {        padding: 5px; }

  .pd-bot-lg-10 {    padding-bottom: 10px; }
  .pd-top-lg-10 {    padding-top: 10px; }
  .pd-left-lg-10 {   padding-left: 10px; }
  .pd-right-lg-10 {  padding-right: 10px; }
  .pd-ver-lg-10 {    padding-top: 10px;   padding-bottom: 10px; }
  .pd-hor-lg-10 {    padding-left: 10px;  padding-right: 10px; }
  .pd-lg-10 {        padding: 10px; }

  .pd-bot-lg-15 {    padding-bottom: 15px; }
  .pd-top-lg-15 {    padding-top: 15px; }
  .pd-left-lg-15 {   padding-left: 15px; }
  .pd-right-lg-15 {  padding-right: 15px; }
  .pd-ver-lg-15 {    padding-top: 15px;   padding-bottom: 15px; }
  .pd-hor-lg-15 {    padding-left: 15px;  padding-right: 15px; }
  .pd-lg-15 {        padding: 15px; }

  .pd-bot-lg-20 {    padding-bottom: 20px; }
  .pd-top-lg-20 {    padding-top: 20px; }
  .pd-left-lg-20 {   padding-left: 20px; }
  .pd-right-lg-20 {  padding-right: 20px; }
  .pd-ver-lg-20 {    padding-top: 20px;   padding-bottom: 20px; }
  .pd-hor-lg-20 {    padding-left: 20px;  padding-right: 20px; }
  .pd-lg-20 {        padding: 20; }

}