* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: 	border-box;
					box-sizing: border-box;
}

html,
body {
	margin: 0px;
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	position: relative;
}

.content {
	padding-left: 20%;
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 20%;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;

	background-color: #333333;
	color: #BBB;	
}