
/*
.navigation > header {
	width: 100%;
	color: #FFF;
	font-weight: 500;
	font-size: 1.5em;
	font-style: italic;
}
*/

/****************************************************************
 *												NAVIGATION MODULE 										*
 ****************************************************************/
.sidebar-header-container {
	width: 100%;
	padding: 10px;
	min-height: 70px;
	display: table;
}

.sidebar-header {
	display: table-cell;
	vertical-align: middle;
	color: #AAA;
	font-weight: 700;
	font-size: 1.5em;
	font-style: italic;	
	width: 100%;
}

.navigation ul{
	padding: 0;
	margin: 0;
}

.navigation-item {
	list-style: none;
	padding: 10px;
	cursor: pointer;
	position: relative;
	display: block;
}

.navigation .second-level {
	margin-top: 10px;
}

.second-level > .navigation-item {
	padding-left: 20px;
}

.navigation-item a {
	position: relative;
	display: block;	
	text-decoration: none;
	color: inherit;
	width: 100%;
}

.navigation-item .navigation-item-icon {
	margin-right: 10px;
}

.second-level .navigation-item .navigation-item-icon {
	font-size: 0.7em;
}

.navigation-item:hover {
	background-color: #303030;
}

.navigation-item.active { 
	background-color: #222222;
}

.second-level > .navigation-item:hover {
	background-color: #404040;
}

/****************************************************************
 *										MAIN CONTENT MODULE												*
 ****************************************************************/
.content {

}

.content-body-container {
	height: 100%;
	width: 100%;
	margin-top: -70px;
	padding-top: 70px;
}

.content-body {
	overflow-y: scroll;
	height: 100%;
}

.content-header {
	display: table;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #C9C9C9;
	background: #EEEEEE;
	padding: 0 2%;
}

.content-header > * {
	display: table-cell;
	vertical-align: middle;
}

.content-header > h1 {	
	font-weight: 100;
	margin: 0;
}
