header {
	background-color: #CCCCCC;
}

nav {
	background-color: #0A93CA;
}

aside {
	background-color: #ABCCFE;
}

footer {
	background-color: #888888;
}

.text-center {
	text-align: center;
}

/**************************************************************
 * Fonts
 **************************************************************/
html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}