body {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.header {
	position: fixed;
	top: 0;

	width: 100%;
	height: 70px;

	background-color: #555;

	background: #FFFFFF;
	padding: 15px 0;
	border-bottom: 1px solid #B4B4B4;	

	z-index: 999999;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	padding-top: 70px;
	background-color: #fafafa;
}

.image-wrapper {
	height: 100%;
	width: 100%;
}

.image-wrapper > img {
	width: 100%;
	height: auto;
}

textarea {
  resize: none;
}