.container {
  margin: 0 auto;
  width: 90%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1 {
	width: 8.333333333%;
}

.col-2 {
	width: 16.666666666%;
}

.col-3 {
	width: 24.999999999%;
}

.col-4 {
	width: 33.333333333%;
}

.col-5 {
	width: 41.666666666%;
}

.col-6 {
	width: 49.999999999%;
}

.col-7 {
	width: 58.333333333%;	
}

.col-8 {
	width: 66.666666666%;	
}

.col-9 {
	width: 75.999999999%;	
}

.col-10 {
	width: 83.333333333%;	
}

.col-11 {
	width: 91.666666666%;	
}


.col-offset-1 {
	margin-left: 8.333333333%;
}

.col-offset-2 {
	margin-left: 16.666666666%;
}

.col-offset-3 {
	margin-left: 24.999999999%;
}

.col-offset-4 {
	margin-left: 33.333333333%;
}

.col-offset-5 {
	margin-left: 41.666666666%;
}

.col-offset-6 {
	margin-left: 49.999999999%;
}

.col-offset-7 {
	margin-left: 58.333333333%;	
}

.col-offset-8 {
	margin-left: 66.666666666%;	
}

.col-offset-9 {
	margin-left: 75.999999999%;	
}

.col-offset-10 {
	margin-left: 83.333333333%;	
}

.col-offset-11 {
	margin-left: 91.666666666%;	
}

.col-offset-12 {
	margin-left: 100%;	
}

.footer {
 	width: 100%;
 	clear: both;
}


/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

}

/* Large Devices, Wide Screens */
@media (min-width: 768px) and (max-width : 1200px) {

}

/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media (min-width: 320px) and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) {
    
}